#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align:center;
    color:#000;
    text-decoration:none;
    padding: 35px;
}

#hero-msg h1,#hero-msg div,.button-box,main section {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

.icon {
    width: 80px;
 }

div {
    max-width: 1600px
}

div {
    background-color: #7209B7;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}

header {
    background-color: #F72585;

}

body {
    background-color: #7209B7;
}


#background {
    height: 725px;
    background-color: #F72585;
}

footer {
    background-color: #F72585;
    color: white;
}


img.logo {
    max-width: 80px
}

footer p a {
    text-decoration: none;
    color: white;
}

section a {
    text-decoration: none;
    color: white;
}